.content{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    row-gap:1.2rem;
    margin-top:.4rem;
}
.linie{
    display:flex;
    transition: 0.15s;
    min-width:0;
    border:3px solid red;
}

.coloana1{
    display:flex;
    flex-direction: column;
    padding-right:.5rem;
    min-width: 30%;
}

.circuit{
    max-width:100%;
    height:auto;
}
.poza{
    margin:auto;
}
.titlu-circuit{
    font-size:3rem;
    margin:auto;
    text-align: center;
    font-weight:bold;
}
.titlu-data{
    font-size:1.2rem;
    margin:auto;
    text-align: center;
}
.c2-linia1{
    display:flex;
    flex-direction: column;
}
.c2-l1-col1{
    display:flex;
    border-bottom-style:solid;
    border-bottom-color:black;
    justify-content: space-between;
    border-bottom-width:3px;
}
.poza-steag{
    width:100%;
    max-width: 100px;
    object-fit: cover;
    aspect-ratio: 16/9;
}
.steag{
    display:flex;
}
.tara-text{
    font-size:2.5rem;
    font-weight:600;
}

@media(max-width:1000px){
    .tara-text{
        font-size:2rem;
    }
    .tara{
        margin: 0 auto;
    }
}
.c2-l1-col2{
    display:flex;
}
.program-cursa{
    border-left-style:solid;
    border-left-color:black;
    border-left-width:3px;
}
.program-cursa{
    display:flex;
    flex-direction: column;
    min-width: 15%;
}
.pbox{
    border-bottom-style:solid;
    border-bottom-color:black;
    border-bottom-width:3px;
    display:flex;
}
.pbox1{
    border:0;
    display:flex;
}
.data{
    text-align: center;
    font-size:1.25rem;
    margin:0;
}
.data-buton{
    margin:0 auto;
    display:block;
    text-align:center;
    border:0;
    border-radius:10px;
}
.pbox-d{
    text-align: center;
}
.tipcursa{
    font-weight:600;
    margin-bottom:0;
    font-size:1rem;
}
.oracursa{
    margin-top:0;
}
.linie:hover{
    box-shadow:15px 15px 15px black;
    cursor:pointer;
}
.text-cursa{
    font-size:1rem;
    font-weight:500;
}
.text-cursa-grid{
    border-left: 3px solid black;
}

@media(max-width:1000px){
    .tara-text{
        font-size:2rem;
    }
    .tara{
        margin: 0 auto;
    }
    .program-cursa{
        min-width:10%;
    }
}