.content{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap:1.25rem;
    margin-left:0.625rem;
    margin-right:0.625rem;
}
.box{
    display:grid;
    grid-template-rows: 1fr 6fr;
    border:3px solid black;
    border-radius:6px;
    transition:0.15s;
}
.box:hover{
    box-shadow:15px 15px 15px black;
}
.piloti{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap: 50px;
    margin-left:10px;
}
.nume-echipa{
    font-size: 40px;
    font-weight:600;
    display:flex;
    justify-content: center;
    margin:auto;
}
.pilot1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.pilot2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.poza{
    width:100%;
    border:4px solid black;
    border-radius:20px;
    height: 100%;
    object-fit: cover;
}
.info{
    font-size:1.2rem;
    margin-left:10px;
}
.pozapilot{
    margin-top:5px;
    margin-bottom: 20px;
}
.numepilot{
    font-weight:600;
    font-size:30px;
    margin-bottom:20px;
    margin-top:20px;
}

@media(max-width:1000px){
    .piloti{
        grid-template-columns:1fr;
    }
}