body{
    overflow-x: hidden;
}
.stire{
    transition:200ms;
    transition: transform 200ms ease-in-out;
}
.stire:hover{
    box-shadow:15px 15px 15px black;
    cursor:pointer;
    transform: scale(1.01);
}
.content-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1.25rem;
    row-gap:1.25rem;
    margin-left:0.625rem;
    margin-right:0.625rem;
}
@media(max-width:1380px){
    .content-grid{
        grid-template-columns: 1fr;
    }
}
.photo{
    width:100%;
}
.text{
    font-size:2rem;
    padding-left:0.313rem;
    padding-bottom:1.25rem;
    margin-bottom: 0;
    margin-top:0;
    padding-top: 1.25rem;
}
.content-photo{
    background-color:black;
    transition: 0.15s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content-photo:hover{
    box-shadow:15px 15px 15px black;
    cursor:pointer;
}
.content-text{
    border-style:solid;
    border-color:black;
    border-width:6px;
    border-radius:10px;
    transition:0.15s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
.content-text:hover{
    box-shadow:15px 15px 15px black;
    cursor:pointer;
}
content.row{
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.titlu-text{
    font-size:2.5rem;
    font-weight:bold;
    text-align:center;
}
.titlu{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    margin-right:0.625rem;
    margin-left:0.625rem;
    align-items: center;
}
.titlu-poza{
    width:100px;
}
@media(max-width:1380px){
    .content-text{
        display: flex;
        justify-content: center;
    }
}
.stiri{
    margin-bottom:1rem;
    margin-top: 1.2%;
}