.box-fe, .box-me, .box-re, .box-mc, .box-al, .box-ha, .box-wi, .box-am, .box-at, .box-af{
    border:3px solid black;
    height:35vh;
    display:grid;
    grid-template-rows: 1fr 1fr 2fr;
    border-left:0;
    border-bottom:0;
    border-radius:12px;
    transition:0.20s;
}
.box-fe:hover{
    box-shadow:15px 15px 15px #F91536;
    cursor:pointer;
    border:3px solid #F91536;
    border-left:0;
    border-bottom:0;
}
.box-me:hover{
    box-shadow:15px 15px 15px #6CD3BF;
    cursor:pointer;
    border:3px solid #6CD3BF;
    border-left:0;
    border-bottom:0;
}
.box-re:hover{
    box-shadow:15px 15px 15px #3671C6;
    cursor:pointer;
    border:3px solid #3671C6;
    border-left:0;
    border-bottom:0;
}
.box-mc:hover{
    box-shadow:15px 15px 15px #F58020;
    cursor:pointer;
    border:3px solid #F58020;
    border-left:0;
    border-bottom:0;
}
.box-al:hover{
    box-shadow:15px 15px 15px #2293D1;
    cursor:pointer;
    border:3px solid #2293D1;
    border-left:0;
    border-bottom:0;
}
.box-af:hover{
    box-shadow:15px 15px 15px #C92D4B;
    cursor:pointer;
    border:3px solid #C92D4B;
    border-left:0;
    border-bottom:0;
}
.box-ha:hover{
    box-shadow:15px 15px 15px #B6BABD;
    cursor:pointer;
    border:3px solid #B6BABD;
    border-left:0;
    border-bottom:0;
}
.box-at:hover{
    box-shadow:15px 15px 15px #5E8FAA;
    cursor:pointer;
    border:3px solid #5E8FAA;
    border-left:0;
    border-bottom:0;
}
.box-wi:hover{
    box-shadow:15px 15px 15px #37BEDD;
    cursor:pointer;
    border:3px solid #37BEDD;
    border-left:0;
    border-bottom:0;
}
.box-am:hover{
    box-shadow:15px 15px 15px #358C75;
    cursor:pointer;
    border:3px solid #358C75;
    border-left:0;
    border-bottom:0;
}
.content{
    display:grid;
    grid-template-columns: 30% 30%;
    column-gap:6.25rem;
    row-gap: 1.875rem;
    justify-content: center;
    margin-top:1%;
    height: 100vh;
}
.linie1{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.poza1{
    width: 100%;
    margin-top:0.313rem;
}
.numee{
    margin:auto;
    margin-left:3.75rem;
    font-size:2.5rem;
    font-weight: 600;
}
.linie{
    font-size:3.75rem;
    font-weight: 700;
    padding-left:0.625;
}
.linie2{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.nume1, .nume2{
    font-size:1.5rem;
    display:flex;
    justify-content: center;
}
.poza{
    width:100%;
}

.am{
    margin:auto;
    margin-left:1.875rem;
    font-size:2.5rem;
    font-weight: 600;
}
.haas{
    margin:auto;
    margin-left:5.938rem;
    font-size:2.5rem;
    font-weight: 600;
}
.at{
    margin:auto;
    margin-left:1.875rem;
    font-size:2.5rem;
    font-weight: 600;
}
.ar{
    margin:auto;
    margin-left:2.5rem;
    font-size:2.5rem;
    font-weight: 600;
}
.alpine{
    margin:auto;
    margin-left:4.688rem;
    font-size:2.5rem;
    font-weight: 600;
}


@media(max-width:1200px){
    .content{
        grid-template-columns: 70%;
    }
    .box-fe, .box-me, .box-re, .box-mc, .box-al, .box-ha, .box-wi, .box-am, .box-at, .box-af{
        height:auto;
    }
    .nume1, .nume2{
        font-size:1.7rem;
    }
    .numee{
        font-size:3rem;
    }
}